@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Luiz Carlos de Souza Ardovino Ribeiro<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:luizardovino@al.infnet.edu.br">Support@example.com</a><br />
</address>