@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Social Network</h1>
    <p class="lead">Rede social de Quadrinhos.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saiba Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Informações</h2>
        <p>
            Social Network 1
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Saiba Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Imagens</h2>
        <p>Social Network.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Saiba Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Amigos</h2>
        <p>Social Network.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Saiba Mais &raquo;</a></p>
    </div>
</div>